/* DEFAULTS
----------------------------------------------------------*/
body {background: #FFFFFF; padding-top: 70px; padding-bottom: 30px;}

a, a:visited {margin: 0px; text-decoration: none; color: #483D8B;}
a:hover {text-decoration: none; color: #696969;}

.loading {background: url(../IMG/icon/loading.gif) no-repeat center;}

.float_l {float: left;}

.float_r {float: right;}

.clear {clear: both;}

/* Header and Menu
----------------------------------------------------------*/
.singin {padding-bottom: 15px; padding-top: 15px;}

ul.dropdown-menu {max-height: 300px; overflow-y: auto;}

/* COUNTRIES PAGE (WORLD)
----------------------------------------------------------*/
div.mainsection {font-size: 12px;}
div.map {width: 700px; height: 480px; margin-left: 20%;}

div.countryhead {width: 900px; height: 50px;  text-align:left; font-weight:bold; font-size: 14px; padding: 15px 0px 5px 0px; margin-left: 15%;}
div.my_countries {width: 830px; font-weight: normal; padding: 5px 0px 5px 0px; margin-left: 15%; margin-right: 15%; text-align: left;}

img.countflag {width: 35px; height: 35px; border: solid #c1d4cc 1px; border-radius: 3px; padding: 1px; margin: 3px;
    background-image: url('../IMG/icon/smallClean35x35.png');
    background-repeat: no-repeat;
}

div.visityear {width: 200px; font-weight:bold;  padding: 0px 0px 0px 145px; text-align: left; margin-left: 20%}
div.firstcell {width: 200px; text-align:right; padding: 0px 10px 0px 25px; margin-left: 20%;}
div.secondcell {text-align:left; width: 550px;}

div.switchlink_l {min-width: 370px; height: 30px; text-align:center; font-weight:bold; font-size: 15px; margin-left: 20%;}
div.switchlink {min-width: 370px; height: 30px; text-align:center; font-weight:bold; font-size: 15px;}

/* COUNTRIES PAGE (COUNTRY)
----------------------------------------------------------*/
div.countrylabel {text-align:center; font-weight:bold; padding: 0px 0px 10px 0px; font-size: 20px;}
div.countrydetail {text-align:left; font-size: 12px; padding: 5px 45px 5px 45px; margin-left: 20%}

div.countryEmbFlag {width: 100%;}
img.country_emb {width: 150px; height: 150px; margin-right: 75px; margin-left: 25%}
img.country_flag {width: 300px; height: 150px; border: 2px solid; margin-left: 75px;}

div.switchlink {min-width: 370px; height: 30px; text-align:center; padding: 0px 0px 0px 0px; font-weight:bold; font-size: 16px;}
a.link {text-decoration: underline;}

div.countryregion {text-align:left; font-size: 12px; padding: 0px 45px 0px 65px; margin-left: 20%}
div.cityrow {text-align:left; padding: 0px 45px 5px 75px; margin-left: 20%}

/* CITY PAGE
----------------------------------------------------------*/
img.city_photo {margin: 10px 27px 10px 27px; width: 300px; height:225px;}
img.crown {width: 23px; height:12px;}

/* SIGNIN PAGE (WORLD)
----------------------------------------------------------*/
.form-signin {max-width: 330px; padding: 15px; margin: 0 auto;}
.form-signin .form-signin-heading,
.form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"] {margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.form-signin input[type="password"] {margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;}

/* STORY PROCESSOR PAGE
----------------------------------------------------------*/
.story_celltext {text-indent: 35px;}
p.story_celltext {text-indent: 35px; margin-bottom: -15px; margin-top: 0px; margin-right: 20px; margin-left: 20px;} 
.reg_header {font-weight: bold; margin-bottom: 0px;}
.reg_header_impr {padding: 8px;}

/* Overview settings  PAGE
----------------------------------------------------------*/
#thalign {text-align: left;}

/* SMALL COUNTRY FLAGS
----------------------------------------------------------*/
img#abkhazia { background-position: -391px -741px; }
img#albania { background-position: -197px -3px; }
img#andorra { background-position: -3px -3px; }
img#austria { background-position: -430px -3px; }
img#azerbaijan { background-position: -585px -3px; }
img#belarus { background-position: -42px -108px; }
img#belgium { background-position: -80px -55px; }
img#china { background-position: -508px -108px; }
img#cyprus { background-position: -120px -161px; }
img#czech { background-position: -158px -161px; }
img#denmark { background-position: -275px -161px; }
img#egypt { background-position: -508px -161px; }
img#estonia { background-position: -469px -161px; }
img#finland { background-position: -42px -214px; }
img#france { background-position: -236px -214px; }
img#gibraltar { background-position: -546px -216px; }
img#germany { background-position: -197px -161px; }
img#hungary { background-position: -546px -266px; }
img#israel { background-position: -3px -319px; }
img#india { background-position: -80px -319px; }
img#italy { background-position: -275px -319px; }
img#kosovo { background-position: -508px -741px; }
img#latvia { background-position: -585px -372px; }
img#lithuania { background-position: -508px -372px; }
img#liechtenstein { background-position: -352px -372px; }
img#luxembourg { background-position: -546px -372px; }
img#macedonia { background-position: -275px -424px; }
img#malta { background-position: -624px -424px; }
img#moldova { background-position: -80px -424px; }
img#monaco { background-position: -42px -424px; }
img#montenegro { background-position: -119px -424px; }
img#netherlands { background-position: -469px -477px; }
img#northerncyprus { background-position: -430px -741px; }
img#norway { background-position: -508px -477px; }
img#poland { background-position: -314px -530px; }
img#portugal { background-position: -507px -530px; }
img#romania { background-position: -42px -583px; }
img#russia { background-position: -119px -583px; }
img#sanmarino { background-position: -624px -583px; }
img#slovakia { background-position: -546px -583px; }
img#slovenia { background-position: -469px -583px; }
img#spain { background-position: -624px -161px; }
img#sweden { background-position: -352px -583px; }
img#switzerland { background-position: -313px -108px; }
img#transnistria { background-position: -469px -741px; }
img#turkey { background-position: -81px -688px; }
img#ukraine { background-position: -275px -688px; }
img#unitedarabianemirates { background-position: -42px -3px; }
img#unitedstatesofamerica { background-position: -391px -688px; }
img#uzbekistan { background-position: -468px -688px; }
img#vatican { background-position: -508px -688px; }

/* THE END
----------------------------------------------------------*/
